.h1, h1 {
    text-align: center;
    font-size: 2.5rem;
}
h2,
p,
h3{
    text-align: center;
}

html, body {
    margin: 0%;
    height:300%;
    background: radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, #e0eaf5 24.5%, #e0eaf5 66% );
    /* background-image: linear-gradient(to right, #bdc3c7, #a7836d 100%);
    background-color: #C0C0C0; */
}

fieldset {
    min-width: 0;
    padding: 1rem;
    margin: 0;
    border: 0;
}
form {
    display: flex; 


    
    
    /* background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat; 
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
    border-top: ;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px); */
}

.loginSection{
    margin: 5%;
    padding: 3%;
}

.form--login {
    border-radius:15%;
    display: inline-block;
    margin: 65px;
    padding: 65px;
    text-align: center;
    box-shadow: 20px 20px 50px #94b0b7;
}

.form--login > fieldset > input[type="email"] {
    width: 25em;
    
}

.label--login {
    width: 8rem;
    display: inline-block;
}

.form-control {
    display: block;
    width: 94%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #c2c8c5;
    text-align: center;
    background-color: #fff;
    background-clip: padding-box;
    border: 3px inset #7697a0;
    border-radius: .25rem;
    /* -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; */
}

.container--login {
    align-self:inherit;
    text-align: center;
    

    /* background-position-x: right;
    z-index: 1;
    min-height: 25rem;
    min-width: 45rem;
    background-color: hsla(0,0%,100%,0.40);
    background-blend-mode: overlay;
    background-repeat: no-repeat; */

        /* box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.25);
        border-top: ;
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px); */
}

.button--close {
    position: relative;
    bottom: -2rem;
}

.login-button{
    display: table-column;
}
/* .login-button {
    background-color: #c0ff00;
    border-radius: 75px;
    box-shadow: rgba(44, 187, 99, .2) 0 -25px 18px -14px inset,rgba(44, 187, 99, .15) 0 1px 2px,rgba(44, 187, 99, .15) 0 2px 4px,rgba(44, 187, 99, .15) 0 4px 8px,rgba(44, 187, 99, .15) 0 8px 16px,rgba(44, 187, 99, .15) 0 16px 32px;
    color: green;
    cursor: pointer;
    display: inline-block;
    font-family: 'Nanum Gothic Coding', monospace;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    }

    .login-button:hover {
    box-shadow: rgba(44,187,99,.35) 0 -25px 18px -14px inset,rgba(44,187,99,.25) 0 1px 2px,rgba(44,187,99,.25) 0 2px 4px,rgba(44,187,99,.25) 0 4px 8px,rgba(44,187,99,.25) 0 8px 16px,rgba(44,187,99,.25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
} */



.login-button {
    
  all: unset;
  width: 100px;
  height: 30px;
  font-size: 16px;
  font-family: 'Nanum Gothic Coding', monospace;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: inline-block;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.login-button::after,
.login-button::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.login-button::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #0d1237;
  border-radius: 10px;
}

.login-button::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.login-button:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.login-button:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.login-button:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}